@import '../../../styles/global/color_palette';

.grid-container {
  background-color: $dark_green;
}

.dashboard-card {
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
  background: $gradient;
}

.more-button {
  position: absolute;
  top: 5px;
  right: 10px;
}

.dashboard-card-content {
  text-align: center;
  background-color: $gradient;
}
