.github
npm-debug.log
Dockerfile*
docker-compose*
.dockerignore
.git
.gitignore
README.md
LICENSE
.vscode

app-api/api-gateway/target
app-api/authentication/target
app-api/authorization/target
app-api/config-server/target
app-api/eureka-server/target
app-api/institutions/target
app-api/profiles/target
app-api/users/target

app-ui/node
app-ui/.vscode
app-ui/dist
app-ui/node_modules
app-ui/target
