html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
  width: 1024px;
  height: 768px;
}

body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

