@import url(./global/_color_palette.scss);
@import url(./global/_typography.scss);


body {
    min-height: 100vh;
    max-width: 400px;
    margin: 0 auto;
}
* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}