  <body>
    <div class="group">
      <div class="overlap-wrapper">
        <div class="overlap">
          <div class="rectangle-wrapper"><div class="rectangle"></div></div>
          <div class="div"></div>
          <div class="group-wrapper">
            <div class="div-wrapper">
              <div class="div-2">
                <div class="overlap-group-wrapper">
                  <div class="overlap-group"><div class="text-wrapper">ENTRAR</div></div>
                </div>
                <img class="img" src="../../../assets/group-218.svg" />
                <div class="text-wrapper-2">Usuário</div>
                <div class="text-wrapper-3">Senha</div>
                <img class="line" src="../../../assets/line-1.svg" />
                <img class="line-2" src="../../../assets/line-2.svg" />
                <img class="person" src="../../../assets/person_24px.svg" />
              </div>
            </div>
          </div>
          <div class="rectangle-2"></div>
          <img class="img-2" src="../../../assets/logo_horizontal.png" />
        </div>
      </div>
    </div>
  </body>
