.body{
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    background: #FFF;
    background: url(../../../assets/img-background.png), lightgray 50% / cover no-repeat;
}
.header{
    position: fixed;
    top:0;
    left: 0;
    width: 100%;
    height: 20%;
    flex-shrink: 0;
    border-radius: 2px;
    background: rgba(17, 67, 3, 0.67);
}
mat-grid-tile{
    justify-content: center;
    align-items: center;
}
mat-grid-tile img{
    width: 100%;
    height: 100%;
}
.mat-grid-tile{
    width: 90%;
    height: auto;
}
.text, .social{
    height: 100%;
    width: 100%;
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;    
}
.navbar{
    width: 90%;
    height: 30%;
    line-height: 200%;
}
.logotext{
    width: 100%;
    height: 50%;
    margin-top: 5%;
    color: #FFF;
    font-family: Russo One;
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
ul li a {
    margin-right: 10px;
    color: #FFF;
    font-family: Russo One;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration: none;

}
ul {
    display:inline;
    list-style-type: none;
    margin: 0;
    padding: 0;
}
ul li {
    display:inline;
}
.social-networks{
    width: 100%;
    height: 60%;
}
.system-access{
    width: 100%;
    height: 40%;
    
}
#buttom-system{
    width: 195px;
    height: 31.339px;
    background-color: rgba(17, 67, 3, 1) ;
    color: #FFF;
    font-family: Russo One;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    border-radius: 8px;
}
.system-access, .social-networks{
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
.icons{
    width: 50px;
    height: 50px;
    margin-left: 15px;
}
.icons img{
    width: 100%;
    height: 100%;
}