<div class="body">
    <div class="header">
        <mat-grid-list cols="12" rows = "2">
            <mat-grid-tile></mat-grid-tile>
            <mat-grid-tile colspan="2" rowspan="2" class="logo">
                <div class="mat-grid-tile">
                    <img src="../../../assets/logo.png"/>
                </div>
            </mat-grid-tile>
            <mat-grid-tile></mat-grid-tile>
            <mat-grid-tile colspan="5" rowspan="1">
                <div class="text">
                    <div class="logotext">
                        BUSINESS ADMINISTRATION GAMES
                    </div>
                    <div class="navbar">
                        <ul>
                            <li><a>HOME</a></li>
                            <li><a>TUTORIAIS</a></li>
                            <li><a>CONTATOS</a></li>
                        </ul>
                    </div>         
                </div>
            </mat-grid-tile>
            <mat-grid-tile></mat-grid-tile>
            <mat-grid-tile colspan="2" rowspan="1">
                <div class="social">
                    <div class="social-networks">
                        <div class="icons">
                            <img src="../../../assets/icon-youtube.png" />
                        </div>
                        <div class="icons">
                            <img src="../../../assets/icon-github.png" />
                        </div>
                        <div class="icons">
                            <img src="../../../assets/icon-linkedin.png" />
                        </div>
                    </div>
                    <div class="system-access">
                        <button mat-raised-button id="buttom-system">ACESSE O SISTEMA</button>
                    </div>         
                </div>
            </mat-grid-tile>
          </mat-grid-list>
    </div>
</div>
