
<div class="grid-container">
    <div class="header">
        <div class="header-container" fxLayout="row" fxFlexFill fxLayoutAlign="center center">
            <div fxFlex="25" class="logotype" fxLayout="row" fxLayout.xs="row" fxLayout.sm="row" fxLayoutWrap fxLayoutGap="0.5%" fxLayoutAlign="center">
                <div *ngIf="currentScreenSize.type_screen == 3 ;then logotype_large else logotype_small"></div>
                <ng-template #logotype_large>
                    <img id="logotype-large" mat-card-image class="img" src="../../../assets/logo.png">
                </ng-template>
                <ng-template #logotype_small> 
                    <img id="logotype-small" mat-card-image class="img" src="../../../assets/logo.png">
                </ng-template>
            </div>
            <div fxFlex="60" class="title" fxFlex.xs="34" fxFlex.sm="34" fxLayout.xs="column" fxLayout.sm="column">
                <div fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="0.5%" fxLayoutAlign="center">
                    BUSINESS ADMINISTRATION GAMES
                </div>
                <div class="content" fxLayout="row" fxLayout.xs="column" fxLayout.sm="column" fxFlexFill fxLayoutAlign="center">
                    <div fxFlex="33" fxFlex.xs="33" fxFlex.sm="33">
                        HOME
                    </div> 
                    <div fxFlex="33" fxFlex.xs="33" fxFlex.sm="33">
                        TUTORIAIS
                    </div> 
                    <div fxFlex="33" fxFlex.xs="33" fxFlex.sm="33">
                        CONTATOS
                    </div> 
                </div>
            </div>
            <div fxFlex="15" class="network" fxFlex.xs="33" fxFlex.sm="33">
                network
            </div> 
        </div>
    </div>
    <div class="body">
        BODY
        <div class="body-container" fxLayout="row" fxLayout.xs="column" fxLayout.sm="column" fxFlexFill fxLayoutAlign="start center">
        </div>
    </div>
    <div class="footer">
        FOOTER
    </div>
</div>
