
@import '../../../styles/global/color_palette';
@import '../../../styles/global/typography';

.page {
    height: 100%;
    width: 100%;
    background-image: url(../../../assets/img-background.png);
    background-size: cover;
    background-repeat: no-repeat;
}
.header {
    background-color: $dark_green_transp;
}
#logotype-large {
    max-width: 60%;
    height: auto;
    margin-left: 17%;
    margin-top: 3%;
}
.header-content {
    //background-color: yellowgreen;
    padding-top: 5px;
}
.header-content-title h1, h2, h3, h4 {
    color: $font_color;
    font-family: $font;
    font-style: normal;
    line-height: normal;
    text-decoration: none;
    text-align: center;
}
.header-content-title h1 {
    font-size: 36px;
}
.header-content-title h3 {
    font-size: 20px;
}
.header-sidebar-large ul li a {
    margin-right: 10px;
    color: $font_color;
    font-family: $font;
    font-size: 20px;
    font-style: normal;
    line-height: normal;
    text-decoration: none;
    text-align: left;
}
.header-sidebar-medium ul li a {
    margin-right: 10px;
    color: $font_color;
    font-family: $font;
    font-size: 16px;
    font-style: normal;
    line-height: normal;
    text-decoration: none;
    text-align: left;
}
.header-sidebar-small ul li a {
    margin-right: 10px;
    color: $font_color;
    font-family: $font;
    font-size: 16px;
    font-style: normal;
    line-height: normal;
    text-decoration: none;
    text-align: left;
}    
.header-content-navbar ul {
    display:inline;
    list-style-type: none;
    margin: 0;
    padding: 0;   
}
.header-content-navbar ul li {
    display:inline;
}
.header-content-navbar {
    margin-top: 1%;
    text-align: left;
    margin-left: 60px;
    height: 100%;
}
.button-sidebar{
    //color: inherit;
    background-color: inherit;
}
.header_network_small {
    //background-color: gray;
}
.header_network_large {
    //background-color: red;
}
.header_network_large_small {
    //background-color: blue;
}
.header_network_small mat-toolbar{
    //background-color: aqua;
}
.sidebar {
    //background-color: red;
}
// .content {
//     background-color: blue;
// }
.footer {
    //background-color: blueviolet;
}