
@import '../../../styles/global/color_palette';
@import '../../../styles/global/typography';

.page {
    height: 100%;
    width: 100%;
    background-image: url(../../../assets/img-background.png);
    background-size: cover;
    background-repeat: no-repeat;
}
.header {
    background-color: $dark_green_transp;
}
#logotype-large {
    max-width: 60%;
    height: auto;
    margin-left: 17%;
    margin-top: 3%;
}
.header-content {
    padding-top: 5px;
}
.header-content-title h1, h2, h3, h4 {
    color: $font_color;
    font-family: $font;
    font-style: normal;
    line-height: normal;
    text-decoration: none;
    text-align: center;
}
.header-content-title h1 {
    font-size: 36px;
}
.header-content-title h3 {
    font-size: 20px;
}
.header-sidebar-large ul li a {
    margin-right: 10px;
    color: $font_color;
    font-family: $font;
    font-size: 20px;
    font-style: normal;
    line-height: normal;
    text-decoration: none;
    text-align: left;
}
.header-sidebar-medium ul li a {
    margin-right: 10px;
    color: $font_color;
    font-family: $font;
    font-size: 16px;
    font-style: normal;
    line-height: normal;
    text-decoration: none;
    text-align: left;
}
.header-sidebar-small ul li a {
    margin-right: 10px;
    color: $font_color;
    font-family: $font;
    font-size: 16px;
    font-style: normal;
    line-height: normal;
    text-decoration: none;
    text-align: left;
}    
.header-content-navbar ul {
    display:inline;
    list-style-type: none;
    margin: 0;
    padding: 0;   
}
.header-content-navbar ul li {
    display:inline;
}
.header-content-navbar {
    margin-top: 1%;
    text-align: left;
    margin-left: 60px;
    height: 100%;
}

.header-network {
    max-width: 70%;
    background-color: black;
    align-items: center;
}
.header-network-content {
    max-width: 80%;
    background-color: blueviolet;
}
.header_network_icon {
    background-color: aqua;
}
.header_network_icon img {
    margin-right: 5%;
    //max-width: 80%;
    height: 95%;
    width: 95%;
}
.header_network_icon div {
    background-color: purple;
    margin-right: 10px;
    width: 33%;
}
#button-access-system {
    background-color: $dark_green_transp;
    margin: 2%;
    color: $font_color;
    font-family: $font;
    font-size: 16px;
    text-align: center;
    padding: 2%;
    max-width: 80%;
}
.header_network_access_system {
    background-color: yellow;
    align-items: center;
}
.header_network_access_system_small_button-sidebar mat-toolbar-row {
    background-color: red;
    max-width: 100%;
}
.header_network_access_system_small_button-sidebar mat-toolbar-row button{
    //background-color: pink;
    margin-left: 50%;
}
